{% extends 'base.html.twig' %}

{% block title %}Nuevo registro de historial de stock{% endblock %}

{% block body %}
<h1>Nuevo registro de historial de stock</h1>

<form method="post">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Crear</button>
    {{ form_end(form) }}
</form>
{% endblock %}