{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="col-md-12 mt-5 text-center">
        <button type="submit" class="btn btn-primary mr-2">Añadir categoría</button>
    </div>
{{ form_end(form) }}
