<form method="post" action="{{ path('stock_historic_delete', {'id': stock_historic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock_historic.id) }}">
    <button class="btn">Delete</button>
</form>
