{% extends 'base.html.twig' %}

{% block title %}Edit StockHistoric{% endblock %}

{% block body %}
    <h1>Edit StockHistoric</h1>

    {{ include('stock_historic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stock_historic_index') }}">back to list</a>

    {{ include('stock_historic/_delete_form.html.twig') }}
{% endblock %}
